@model List<eShop.models.Product>;

<h1 class="page-title">Aktuella produkter</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Pris (kr)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
